:root {
    --base-white: #FFFFFF;
    --light-1: #B2B2B2;
    --light-2: #9E9E9E;
    --black-1: #292929;
    --black-2: #121212;
    --black-3: #0A0A0A;
    --base-orange: #E76020;
    --orange-2: #EB7F4C;
}