@import "colors.css";

body {
    background-color: var(--base-white);
    width: 100%;
}

#intro{
    display: none;
}

nav{
    background-color: rgb(0, 0, 0);
}

#booking, #contacts{
    display: flex;
}

#booking > img{
    width: 950px;
    height: 890px;
}

#booking > div{
    width: 50.5%;
    padding: 131px 323px 132px 182px;
}

#booking-h3{
    margin-bottom: 20px;
    font-family: "Bona Nova", serif; 
    font-size: 32px;
}

#booking-p{
    margin-bottom: 20px;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 125%;
}

form{
    display: flex;
    flex-direction: column;
}

form > div{
    margin-bottom: 32px;
}

input{
    border: none;
    border-bottom: 1px solid var(--black-1);
    height: 38px;
    width: 411px;
    margin-bottom: 32px;
    padding-bottom: 15px;
}

span{
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 96%;
    font-weight: 400;
    color: var(--black-1);
}

input::placeholder, label {
    color: var(--light-1);
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 96%;
}

.guests-button{
    width: 22px;
    height: 22px;
    border: 2px solid var(--black-1);
    color: var(--black-1);
    font-size: 22px;
    border-radius: 4px;
    background-color: transparent;
}

.guests-button-img{
    width: 9px;
    height: 9px;
    display: flex;
    margin: 0 auto;
}

#booking-button{
    width: 420px;
    height: 80px;
    border-radius: 10px;
    border: solid var(--base-orange);
    background-color: var(--base-orange);
    font-family: "PT Sans", sans-serif;
    font-size: 27.7px;
    font-weight: 700;
    color: var(--base-white);
}

#contacts > div{
    width: 49.5%;
    margin: auto 162px auto 323px;
    max-width: 465px;
}

#contacts-h3{
    margin-bottom: 69px;
    font-family: "PT Sans", sans-serif;
    font-size: 32px;
}

#contacts-h3-media{
    display: none;
}

#contacts-p{
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 124%;
}

#iframe-media{
    display: none;
}

/* ----------------media----------------- */

@media (max-width: 768px) {
    
    #intro{
        display: block;
        background-image: url("../assets/gallery/contact/contact.png");
        background-position: center;
        background-size: cover;
        margin-top: -65px;
        height: 265px;
    }

    nav{
        background-color: rgb(0, 0, 0, 0.6);
    }

    #booking > img{
        display: none;
    }

    #booking > div{
        padding: 0;
        width: 100%;
        padding: 26px 0 35px 31px;
    }

    #booking-h3{
        font-size: 28px;
        width: 281px;
    }

    #booking-p{
        margin-bottom: 47px;
        font-size: 18px;
    }

    form > div{
        margin-bottom: 61px;
        display: flex;
    }

    input{
        width: 300px;
        margin-bottom: 32px;
        padding-bottom: 15px;
    }

    #booking-button{
        width: 300px;
        height: 55px;
        font-size: 18px;
    }

    #contacts > div{
        width: 100%;
        margin: 0;
    }

    #contacts{
        display: flex;
        flex-direction: column;
    }

    #iframe-pc{
        display: none;
    }

    #iframe-media{
        display: block;
    }

    #contacts > div{
        padding: 38px 0 66px 30px;
    }

    #contacts-h3{
        display: none;
    }

    #contacts-h3-media{
        display: block;
        width: 308px;
        margin-bottom: 31px;
        font-size: 22px;
        font-family: "PT Sans", sans-serif;
    }
}