#intro{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/img/home-bckg.png");
    background-size: cover;
    margin-top: -111px;
    height: 1021px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro > h1{
    text-align: center;
    color: #FFFFFF;
    font-family: "Bona Nova", serif;
    font-weight: 400;
    font-size: 96px;
    margin-top: 310px;
}

#booking-button{
    width: 420px;
    height: 80px;
    border-radius: 10px;
    font-family: "PT Sans", sans-serif;
    font-size: 27.7px;
    color: #FFFFFF;
    font-weight: 500;
    background-color: #E76020;
    margin-top: 35px;
    border: 0;
}

#action-button{
    display: none;
}

/* ----------------gallery----------------- */

#gallery{
    height: 653px;
    display: flex;
}

#photo-gallery, #text-gallery {
    width: 50%;
}

#photo-gallery > img{
    max-width: 100%;
    height: auto;
}

#text-gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#text-gallery-items{
    width: 505px;
}

#text-gallery-items > h2{
    font-size: 32px;
    font-weight: 700;
    font-family: "Bona Nova", serif;
}

#text-gallery-items > p{
    margin-top: 30px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
}

#arrows{
    margin-top: 58px;
    display: flex;
    gap: 50px; 
}

#right-arrow {
    transform: rotate(180deg);
}


/* ----------------media----------------- */

@media (max-width: 768px) {
    #intro{
        background-image: url("../assets/img/page-bckg.png");
        background-size: cover;
        height: 550px;
        width: 100%;
    }

    #intro > h1{
        font-size: 35px;
        text-align: start;
        margin-top: 160px;
        width: 306px;
        height: 84px;
        font-weight: 700;
    }

    #booking-button{
        width: 300px;
        height: 55px;
        font-size: 18px;
        margin-top: 113px;
        border: 0;
    }

    #action-button{
        display: block;
        background-color: transparent;
        border: 2px solid #FFFFFF;
        width: 300px;
        height: 55px;
        border-radius: 10px;
        font-family: "PT Sans", sans-serif;
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 500;
        margin-top: 20px;
    }
}