#intro{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/img/home-bckg.png");
    background-size: cover;
    margin-top: -111px;
    height: 920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro > h1{
    text-align: center;
    color: #FFFFFF;
    font-family: "Bona Nova", serif;
    font-weight: 400;
    font-size: 96px;
    margin-top: 310px;
}

.booking-button{
    width: 420px;
    height: 80px;
    border-radius: 10px;
    font-family: "PT Sans", sans-serif;
    font-size: 27.7px;
    color: #FFFFFF;
    font-weight: 500;
    background-color: #E76020;
    margin-top: 35px;
    border: 0;
}

#action-button{
    display: none;
}

/* ----------------gallery----------------- */

#gallery{
    height: 653px;
    display: flex;
}

#photo-gallery, #text-gallery {
    width: 50%;
}

#photo-gallery > img{
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

#text-gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#text-gallery-items{
    width: 505px;
}

#text-gallery-items > h2{
    font-size: 32px;
    font-weight: 700;
    font-family: "Bona Nova", serif;
}

#text-gallery-items > p{
    margin-top: 30px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
}

#arrows{
    position: absolute;
    top: 1570px;
    right: 640px;
    display: flex;
    gap: 50px; 
}

#right-arrow {
    transform: rotate(180deg);
}

#main-photo, #main-title, #main-text {
    transition: opacity 0.5s ease;
}

.hidden {
    opacity: 0;
}

/* ----------------reviews----------------- */

#reviews-section{
    height: 650px;
    background-image: url("../assets/img/page-bckg.png");
    padding: 93px 136px 165px 136px;
}

#reviews-line{
    display: flex;
    gap: 35px;
    justify-content: center;
}

#reviews-section-content > h2{
    font-size: 32px;
    font-weight: 700;
    font-family: "Bona Nova", serif;
    color: #FFFFFF;
    margin-left: 141px;
    margin-bottom: 35px;
}

.reviews-rectangle{
    background-color: #FFFFFF;
    height: 319px;
    width: 675px;
    display: flex;
    gap: 30px;
    padding: 31px 55px 53px 27px;
}

#left-arrow-reviews {
    transform: rotate(180deg);
}

#reviews-avatar{
    width: 104px;
    height: 104px;
    border-radius: 55px;
}

.reviews-rectangle-title{
    display: flex;
    margin-bottom: 33px;
    justify-content: space-between;
}

.reviews-rectangle-title > h3 {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
}

.reviews-rectangle-column > p{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    width: 459px;
}

.reviews-rectangle-column-stars{
    display: flex;
}

#more-reviews-button{
    display: none;
}

/* ----------------hours----------------- */

#hours-section{
    display: flex;
    height: 701px;
}

#hours-section > div {
    flex: 50%;
}

#hours-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#text-hours{
    padding-top: 179px;
    padding-left: 182px;
}

#main-text-hours{
    width: 464px;
    margin-bottom: 50px;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
}

/* ----------------footer----------------- */

footer{
    background-color: #121212;
    color: #FFFFFF;
    display: flex;
    height: 212px;
    padding-top: 50px;
    justify-content: space-between;
    padding: 50px 174px 0px 323px;
}

footer > h2{
    font-family: "Bona Nova", serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.1em;
}

#footer-column{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: end;
}

#footer-column > p{
    font-family: "PT Sans", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 125%;
}

#social-network{
    display: flex;
    gap: 20px;
}

#social-network{
    height: 30px;
}

#social-network > img {
    height: 100%;
}

/* ----------------media----------------- */

@media (max-width: 768px) {
    #intro{
        background-image: url("../assets/img/page-bckg.png");
        background-size: cover;
        height: 550px;
        width: 100%;
    }

    #intro > h1{
        font-size: 35px;
        text-align: start;
        margin-top: 160px;
        width: 306px;
        height: 84px;
        font-weight: 700;
    }

    .booking-button{
        width: 300px;
        height: 55px;
        font-size: 18px;
        margin-top: 113px;
        border: 0;
    }

    #action-button{
        display: block;
        background-color: transparent;
        border: 2px solid #FFFFFF;
        width: 300px;
        height: 55px;
        border-radius: 10px;
        font-family: "PT Sans", sans-serif;
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 500;
        margin-top: 20px;
    }

    /* ----------------gallery media----------------- */

    #gallery{
        flex-direction: column;
        height: auto;
    }

    #photo-gallery, #text-gallery{
        width: 100%;
    }

    #photo-gallery{
        height: 265px;
    }

    #text-gallery-items{
        height: 500px;
        margin: 22px 30px 49px 29px;
        width: auto;
    }

    #text-gallery-items > h2{
        font-size: 28px;
    }

    #text-gallery-items > p{
        margin-top: 20px;
    }

    #arrows{
        position: absolute;
        top: 725px;
        left: 140px;
        gap: 12px;
    }
    
    #right-arrow, #left-arrow{
        background-color: rgb(205, 205, 205, 0.3);
        border-radius: 12px;
        height: 35px;
        padding: 6px 9px;
    }

    /* ----------------reviews media----------------- */

    #reviews-section{
        height: 660px;
        width: 100%;
        padding: 31px 30px 35px 30px;
    }

    #reviews-section-content > h2{
        font-size: 28px;
        margin-left: -195px;
        margin-bottom: 20px;
    }

    #reviews-rectangle-2{
        display: none;
    }

    .reviews-rectangle{
        height: 465px;
        width: 300px;
        display: flex;
        gap: 13px;
        padding: 26px 17px 29px 23px;
    }

    .reviews-rectangle-title{
        flex-direction: column;
        gap: 7px;
    }

    #reviews-avatar{
        width: 90px;
        height: 90px;
        border-radius: 55px;
    }

    .reviews-rectangle-title > h3 {
        font-size: 20px;
        width: 126px;
    }

    .reviews-rectangle-column-stars > img{
        width: 26.44px;
    }

    .reviews-rectangle-column > p{
        width: 250px;
        position: relative;
        left: -100px;
    }

    .arrow-btn-reviews{
        display: none;
    }

    #reviews-section-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #more-reviews-button{
        display: block;
        background-color: transparent;
        border: 2px solid #FFFFFF;
        width: 204px;
        height: 55px;
        border-radius: 100px;
        font-family: "PT Sans", sans-serif;
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 500;
        margin-top: 20px;
    }

    /* ----------------reviews media----------------- */
}